
.vs/StockVisualiserV2/v16/.suo
.vs/StockVisualiserV2/v16/Browse.VC.opendb
.vs/StockVisualiserV2/v16/ipch/AutoPCH/61af24618ffd37af/SCREEN.ipch
.vs/StockVisualiserV2/v16/ipch/AutoPCH/5303970ba4bce450/MAIN.ipch
